{
    "presets":[
        [ "@babel/preset-react" ],
        [ "@babel/preset-env", { "targets": { "browsers": [ "defaults" ], "uglify": true } } ]
    ],
    "plugins": [ "transform-class-properties" ]
}